################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KlawQProject/.vs/KlawQProject.slnx
.vs/
KlawQ/obj/