################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KlawQProject/.vs/KlawQProject.slnx
/KlawQProject/.vs/KlawQProject/CopilotIndices/18.6.39603.9996/CodeChunks.db
/KlawQProject/.vs/KlawQProject/CopilotIndices/18.6.39603.9996/SemanticSymbols.db
