@model KlawQ.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    ViewData["NavbarMode"] = "none";
}
@section styles {
    <link rel="stylesheet" href="/css/register.css" />
}

<div class="register-container">
    <div class="left">
        <h1>Create Account</h1>
        <p>Join us and book your appointment!</p>
        <form asp-controller="Register" asp-action="Register" method="post">
            @Html.AntiForgeryToken()
            <input asp-for="FullName" class="input-field" type="text" placeholder="Full Name" />
            <span asp-validation-for="FullName" class="text-danger"></span>

            <input asp-for="Email" class="input-field" type="email" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Password" class="input-field" placeholder="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="ConfirmPassword" class="input-field" placeholder="Confirm Password" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <button class="btn" type="submit">Register</button>

            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
        <p style="justify-content: space-between">Already have an account? <a href="/Account/Login">Log In</a></p>
    </div>
    <div class="right">
        <div style="text-align:center;">
            <div style="display:flex; align-items:center; justify-content:center; gap:12px;">
                <div class="logo-circle"></div>
                <p class="brand-name">Klaw By Krys</p>
            </div>
            <p class="brand-description">Quality You Can See, Creativity You Can Wear.</p>
        </div>
    </div>
</div>
